<div class="container">
{{new-review restaurant=model addReview="addReview"}}
{{#each model.reviews as |review| }}
<div class="row">
  <div class="col-md-9 col-md-offset-1 review" >

    <p class="">Rating:  {{ star-review review.rating}}</p>

<h5>{{review.author}} says</h5>
<p>{{review.message}}</p>
<p class="rate"> Reviewed on:{{review.date_created}}</p>
</div>
</div>
{{/each}}
</div>
